<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function copyOTP(value) {
            navigator.clipboard.writeText(value)
        }
    </script>
</head>
<body style="display:flex; flex-direction: column; align-items: center; justify-content: center">
<div style="width: 42vw; border-width: 1px; border-color: black; border-style: ridge; display: flex; flex-direction: column; align-items: center; justify-content: space-between; row-gap: 0;" class="inner-div">
    <div style="display: flex; align-items: center; justify-content: center; column-gap: 145px; color: antiquewhite; font-size: 30px; background-color: black;" class="Head-Part">
        <img style="width:130px; height: 80px;" src="https://res.cloudinary.com/dxqpdqzue/image/upload/v1703181369/cloudinary_images/bola_air/static_assets/logo-no-background_ka2dnt.svg" alt="Logo"/>
        <p>Fly Anywhere You Want</p>
    </div>
    
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: cornsilk; height: 70vh; width: 42vw; font-family: 'Arial Nova',serif;" class="Main-Message-Body">
        <div style="display: flex; align-items: center; justify-content: flex-start; width: 41vw; color: chocolate;" class="Account-Activation-Header-Frame">
            <h1 style="font-size: 30px;">Activate Your Account</h1>
        </div>
        <h1 style="font-size: 20px; width: 41vw; text-align: start;">Hi ${firstName}</h1>
        <div style="width: 41vw; display: flex; flex-direction: column; align-items: flex-start; row-gap: 0; justify-content: center;" class="Main-Message-Body-Inner-Frame">
            <p style="font-size: 20px; width: 41vw; text-align: start;">
                Welcome To Bola-Air, We Are Very Pleased To Have You<br/>
                Your Account Was Successfully Created, But You Need To Activate The Account.
            </p>
            <p style="font-size: 20px; width: 41vw; text-align: start;">
                Activate Your Account By Entering The OTP Below In The Input Fields Provided On Our Account Activation Page.
            </p>
            <p style="display: flex; align-items: center; justify-content: flex-start; column-gap: 40px; font-size: 20px; width: 41vw; text-align: start;" class="OTP-Tag"> Your One Time Password Is:
                <span style="color: cornflowerblue; font-weight: bolder;">${code}</span>
                <button onfocus="this.style.backgroundColor='limegreen'" onmouseover="this.style.backgroundColor='teal'; this.style.color='white'" onclick={copyOTP('${code}')} style="background-color: cornflowerblue; border-radius: 10px; width: 100px; font-size: 15px; font-weight: 1000;">Copy OTP</button>
            </p>
            <h3 style="font-weight: 1200; font-size: 20px;">Please Do Not Share This Code With Anyone</h3>
        </div>
    </div>
    <div style="width: 42vw; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: black;" class="Footer-Frame">
        <div style="display: flex; width: 41vw; flex-direction: column; align-items: flex-start; justify-content: center; text-align: start; border-color: powderblue; color: antiquewhite;" class="Contact-Frame">
            <p style="font-size: 15px;">For More Information: </p>
            <p style="font-size: 15px;">Email Bola at <a href="mailto:alaabdulmalik03@gmailcom">alaabdulmalik03@gmailcom</a> or</p>
            <p style="font-size: 15px;"> Message Bola On Whatsapp <a href="">at 07036174617</a></p>
            <p style="font-size: 15px;">Our Social Media Handles Are Below</p>
        </div>
        <div style="width: 42vw; display: flex;" class="Social_Media_Handles-Frame">
            <a href="https://www.instagram.com/blaq_mhee/">
                <button style="display: flex; align-items: center; justify-content: center; background: none; border: none; height: 40px; width: 40px; cursor: pointer;">
                    <img style="height: 5vh; width: 5vw;" src="https://res.cloudinary.com/dxqpdqzue/image/upload/v1703181368/cloudinary_images/bola_air/static_assets/instagram_logo_ogssr5.svg" alt="instagram image">
                </button>
            </a>
            <a href="https://www.facebook.com/abdulmalik.alayande.39">
                <button style="display: flex; align-items: center; justify-content: center; background: none; border: none; height: 40px; width: 40px; cursor: pointer;">
                    <img style="height: 5vh; width: 5vw;" src="https://res.cloudinary.com/dxqpdqzue/image/upload/v1703181368/cloudinary_images/bola_air/static_assets/facebook_logo_an4tfv.svg" alt="facebook image">
                </button>
            </a>
            <a href="https://twitter.com/The_good_man02">
                <button style="display: flex; align-items: center; justify-content: center; background: none; border: none; height: 40px; width: 40px; cursor: pointer;">
                    <img style="height: 5vh; width: 5vw;" src="https://res.cloudinary.com/dxqpdqzue/image/upload/v1703181709/cloudinary_images/bola_air/static_assets/twitter_logo_xqqqzj.svg" alt="twitter image">
                </button>
            </a>
            <a href="https://www.linkedin.com/in/abdulmalik-alayande-b49814250/">
                <button style="display: flex; align-items: center; justify-content: center; background: none; border: none; height: 40px; width: 40px; cursor: pointer;">
                    <img style="height: 5vh; width: 5vw;" src="https://res.cloudinary.com/dxqpdqzue/image/upload/v1703181368/cloudinary_images/bola_air/static_assets/linkedIn_logo_d7b23d.svg" alt="linkedIn image">
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>